@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #FFF;
    --secondary-color-1: #000;
}

* {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body Parent Tag */

body {
    background: linear-gradient(rgb(0, 0, 0, .3), rgb(0, 0, 0, .3)), url("../images/vintage-old-rustic-cutlery-dark.jpg");
    background-position: center;
    background-image: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Header Section */

header {
    padding-top: 4em;
    padding-bottom: 3rem;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-color);
    letter-spacing: 10px;
}

/* Hero Section */

.image {
    margin-top: 1em;
    margin-bottom:2em;
    text-align: center;
}

#image {
    height: auto;
    width: 400px;
}

.recipes-links {
    margin-top: 4rem;
}

ul {
    display: flex;
}

ul li {
    justify-content: center;
    margin: 10px;
}

li a {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 800;
    border: 1px solid var(--primary-color);
    padding: 10px;
    background-color: var(--secondary-color-1);
    border-radius: 15px;
}

li a:hover {
    color: var(--secondary-color-1);
    background-color: var(--primary-color);
    border-color: var(--secondary-color-1);
}

/* Footer Section */

footer {
    color: var(--primary-color);
    font-size: 20px;
    padding-top: 6rem;
    padding-bottom: 5rem;
}

@media screen and (max-width: 600px) {
    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li {
        padding-bottom: 35px;
    }
}


